.searchInput {
    border-radius: 10px;
    background-color: var(--background-secondary);
    display: flex;
    align-items: center;
    padding: 6px 8px;
    max-width: 405px;
    width: 100%;
}

.input {
    width: 100%;
    border: none;
    padding: 6px 8px;
    font-weight: 300;
    font-size: 12px;
    color: var(--text-primary);
    background-color: transparent;
    outline: none;
}

.input::placeholder {
    font-weight: 300;
    font-size: 12px;
    color: var(--text-primary);
    opacity: 0.6;
}
