.sidebar {
    grid-column: 2 span;
    display: flex;
    flex-direction: column;
    padding: 48px 16px 48px 16px;
    border-right: 2px solid #2d2d2d;
}

.sidebarTitle {
    font-weight: 700;
    font-size: 32px;
    background: linear-gradient(90.07deg, #ee10b0 -4.85%, rgba(14, 158, 239, 0.92) 127.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    margin-bottom: 24px;
}

.sidebarBlock:not(:last-child) {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

.sidebarBlockTitle {
    font-weight: 300;
    font-size: 12px;
    color: var(--text-secondary);
    margin-bottom: 24px;
}

.sidebarList {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.sidebarItem:not(:last-child) {
    margin-bottom: 8px;
}
