.sidebarItemLink {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebarItemIcon {
    margin-right: 8px;
    fill: transparent;
    transition: fill 0.2s linear, stroke 0.2s linear;
}

.sidebarItemTitle {
    font-weight: 500;
    font-size: 16px;
    color: var(--text-primary);
    transition: color 0.2s linear;
}

.sidebarItemLogout .sidebarItemTitle {
    color: var(--text-secondary);
}

.sidebarItemLogout .sidebarItemIcon {
    stroke: var(--pink-500);
}



.sidebarItemPlaylist .sidebarItemTitle {
    color: var(--action-secondary);
}

.sidebarItemPlaylist .sidebarItemIcon {
    fill: var(--aqua-800);
}


.sidebarItem {
    transition: all 0.2s;
    padding: 6px 8px;
    border-radius: 9px;
}

.sidebarItem:hover {
    background-color: var(--action-primary);

}

.sidebarItemActive {
    background-color: var(--action-primary-hover);
}

.sidebarItemActive .sidebarItemTitle  {
    font-size: 20px;
    font-weight: 600;
}

.sidebarItemPlaylist:hover .sidebarItemTitle {
    color: var(--text-primary);
}

.sidebarItemPlaylist:hover .sidebarItemIcon {
    fill: var(--aqua-800);
}

.sidebarItemLogout:hover .sidebarItemTitle {
    color: var(--text-primary);
}

.sidebarItemLogout:hover .sidebarItemIcon {
    stroke: var(--white-100);
}